<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="list-group select" th:fragment="select">
            <div class="logo">
                <h1>Education</h1>
            </div>
            <a th:href="@{/index}" class="list-group-item list-group-item-action list-group-item-warning">Home</a>
            <a th:href="@{/news}" class="list-group-item list-group-item-action list-group-item-warning">News</a>
            <a th:href="@{/about}" class="list-group-item list-group-item-action list-group-item-warning">About - Us</a>
            <a th:href="@{/contact}" class="list-group-item list-group-item-action list-group-item-warning">Contact</a>
            <a th:href="@{/courses}" class="list-group-item list-group-item-action list-group-item-warning">Courses</a>
            <a th:href="@{/elements}" class="list-group-item list-group-item-action list-group-item-warning">Elements</a>
        </div>
    </body>
</html>