<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=layout/head::head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div class="start">
    <form th:action="@{/forgotPassword}" th:object="${passwordForgot}" method="post">
        <h1>Forgot Password ?</h1>
        <p>Enter your email address and we'll send you a link to reset your password</p>
        <div>
            <input type="text" placeholder="type your email in here" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
            <input type="submit" value="Reset Password">
        </div>
        <div>
            New participant? <a href="/education/register">Register</a>
            <br>
            Already registered? <a href="/education/login">Login</a>
        </div>
    </form>
</div>
</body>
</html>