<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head::head">

    <meta charset="UTF-8">
    <title>Change Password</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${currentParticipant}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span th:text="${currentParticipant.username}"></span>|<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="start">
    <h1>Change Password</h1>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/newPassword}" th:object="${currentParticipant}" method="post">
        <input th:type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}"></td>
            </tr>
            <tr>
                <td>ConfirmPassword:</td>
                <td><input type="password" th:field="*{confirmPassword}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>