<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="start">
    <h1>Register</h1>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/register}" th:object="${participant}" method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" th:field="*{username}"></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" th:field="*{password}"></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input type="password" name="confirmPassword" th:field="*{confirmPassword}"></td>
                <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
            </tr>
            <tr>
                <td>Phone number:</td>
                <td><input type="text" name="phoneNumber" th:field="*{phoneNumber}"></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
    Already registered? <a href="/login">Login</a>
</div>
</body>
</html>