<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Lesson</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Elearn project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
    <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/lesson.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/lesson_responsive.css">
	<script src="../static/js/menuTypeLesson.js"></script>
</head>
<body>

<div class="super_container">

	<!-- Header -->
	<header th:replace="/layout/fragment-navibar::header-navibar" class="header"></header>
	<!-- Menu -->
	<div th:replace="/layout/fragment-menu-responsive::menu-responsive" class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400"></div>

	<!-- Home -->

	<div class="home">
		<!-- Background image artist https://unsplash.com/@thepootphotographer -->
		<div class="home_background parallax_background parallax-window" data-parallax="scroll"
			 data-image-src="/assets/images/courses.jpg" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="home_title">Lesson</div>
							<div class="breadcrumbs">
								<ul>
									<li><a th:href="@{/}">Home</a></li>
									<li>Lesson</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Courses -->

	<div class="courses">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="section_title text-center"><h2>Choose your course</h2></div>
					<div class="section_subtitle">Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut</div>
				</div>
			</div>

			<!-- Course Search -->
			<div class="row">
				<div class="col">
					<div class="course_search">
						<form class="course_search_form d-flex flex-md-row flex-column align-items-start justify-content-between">
							<div><input name="keyword" type="text" class="course_input" placeholder="Course" required="required"></div>
<!--							<div><input type="text" class="course_input" placeholder="Level" required="required"></div>-->
							<button class="course_button"><span>search course</span><span class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
						</form>
					</div>
				</div>
			</div>



				<!-- Course -->
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Result Search</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Java</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">PHP</a>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
						<div class="row courses_row">
						<th:block th:each="lessons : ${listLessons}">
							<div class="col-lg-4 col-md-6">
								<div class="course">
									<div class="course_image"><a th:href="@{/lesson/showlesson/__${lessons.id}__}"><img height="270" width="360" th:src="${lessons.imgLesson}" alt=""></a></div>
									<div class="course_body">
										<div class="course_title"><h3 style="width: 300px;
	                                              overflow: hidden;
	                                              text-overflow: ellipsis;
	                                              line-height: 30px;
	                                              -webkit-line-clamp: 2;
                                                  height: 60px;
	                                              display: -webkit-box;
                                               	  -webkit-box-orient: vertical;">
											<a th:href="@{/lesson/showlesson/__${lessons.id}__}" th:text="${lessons.nameLesson}"></a></h3></div>
										<div class="course_text">
											<p class="text-length" th:text="${lessons.titleLess}"></p>
										</div>
									</div>
								</div>
							</div>
						</th:block>
						</div>

                        <!-- Pagination -->

                        <div class="row">
                            <div class="col">
                                <div class="courses_paginations">
                                    <a th:href="@{'/lesson/showAllLesson'(page=${listLessons.number - 1}, keyword= ${keyword})}" th:if="${listLessons.hasPrevious()}">previous</a>
                                    <span th:text="${listLessons.number + 1}"></span>/<span th:text="${listLessons.totalPages}"></span>
                                    <a th:href="@{'/lesson/showAllLesson'(page=${listLessons.number + 1}, keyword= ${keyword})}" th:if="${listLessons.hasNext()}" >next</a>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
						<div class="row courses_row">
							<th:block th:each="lessons : ${listJavaLessons}">
								<div class="col-lg-4 col-md-6">
									<div class="course">
										<div class="course_image"><a th:href="@{/lesson/showlesson/__${lessons.id}__}"><img height="270" width="360" th:src="${lessons.imgLesson}" alt=""></a></div>
										<div class="course_body">
											<div class="course_title"><h3 style="width: 300px;
	                                              overflow: hidden;
	                                              text-overflow: ellipsis;
	                                              line-height: 30px;
	                                              -webkit-line-clamp: 2;
                                                  height: 60px;
	                                              display: -webkit-box;
                                               	  -webkit-box-orient: vertical;">
												<a th:href="@{/lesson/showlesson/__${lessons.id}__}" th:text="${lessons.nameLesson}"></a></h3></div>
											<div class="course_text">
												<p class="text-length" th:text="${lessons.titleLess}"></p>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
						<div class="row courses_row">
							<th:block th:each="lessons : ${listPhpLessons}">
								<div class="col-lg-4 col-md-6">
									<div class="course">
										<div class="course_image"><a th:href="@{/lesson/showlesson/__${lessons.id}__}"><img height="270" width="360" th:src="${lessons.imgLesson}" alt=""></a></div>
										<div class="course_body">
											<div class="course_title"><h3 style="width: 300px;
	                                              overflow: hidden;
	                                              text-overflow: ellipsis;
	                                              line-height: 30px;
	                                              -webkit-line-clamp: 2;
                                                  height: 60px;
	                                              display: -webkit-box;
                                               	  -webkit-box-orient: vertical;">
												<a th:href="@{/lesson/showlesson/__${lessons.id}__}" th:text="${lessons.nameLesson}"></a></h3></div>
											<div class="course_text">
												<p class="text-length" th:text="${lessons.titleLess}"></p>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
		</div>
	</div>

	<!-- Footer -->

	<footer th:replace="/layout/fragment-footer::fragment-footer" class="footer"></footer>
</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/styles/bootstrap4/popper.js"></script>
<script src="/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/assets/plugins/easing/easing.js"></script>
<script src="/assets/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/assets/js/courses.js"></script>
</body>
</html>