<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--=======-->
<!--    <title>Login</title>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">-->
<!--    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">-->
<!--    &lt;!&ndash;===============================================================================================&ndash;&gt;-->
    <!--</head>-->
    <!--<body>-->

    <!--<div class="limiter">-->
    <!--    <div class="container-login100" style="background-image: url('/assets/images/bg-01.jpg');">-->
    <!--        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">-->
    <!--            <form class="login100-form validate-form flex-sb flex-w" name='f' action="/login" method='POST'>-->
    <!--					<span class="login100-form-title p-b-53">-->
    <!--						Sign In With-->
    <!--					</span>-->
    <!--&gt;>>>>>> dbaff878edcfc63dab93809ec95a40498b2e1d5d-->

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/mainlogin.css}"/>

    <title>Registration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login Page</h1>
            <form th:action="@{/login-form}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">User Name</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="User Name"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Log In"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>Login with Facebook? <a href="https://www.facebook.com/dialog/oauth?client_id=685045062065915&
        redirect_uri=https://localhost:8080/login-facebook">Login with facebook</a></span>
                </div>
                <div class="form-group">
                    <span>Login with Gmail? <a href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/login-google&response_type=code
		&client_id=1001560005850-oa2glskbk5cs5af07apcad8lsfjjqtfn.apps.googleusercontent.com&approval_prompt=force">Login with google</a></span>
                </div>
                <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/register}">Register Here</a></span>
                </div>
                <div class="form-group">
                    <span>Forgot Password? <a href="/" th:href="@{/forgot-password}">Forgot Password</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>