<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Quiz Page</h1>
<h2>Tài Khoản: <span th:text="${user}"></span></h2>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/}">Quay Về Trang Chủ</a> | <a th:href="@{/logout}">Logout</a>
</div>
<form id="myForm" th:with="move=${currentPage}" th:action="@{'/page/' + ${move + 1}}" method="post">

    <div>
        Time Left ::
        <input id="minutes" type="text" style="width: 10px;
             border: none; font-size: 16px;
            font-weight: bold; color: black;"><font size="5"> :
    </font>
        <input id="seconds" type="text" style="width: 20px;
                        border: none; font-size: 16px;
                        font-weight: bold; color: black;">
    </div>

    <table th:each="question, stat : ${questionList}">
        <tr>
            <td style="border: 1px solid black;">Câu <span th:text="${stat.count}"></span></td>
            <td style="border: 1px solid black;">
                <div style="border-bottom: 1px solid black;">
                    <p th:text="${question.getContent()}"></p>
                </div>
                <input type="hidden" th:name="questionId" th:value="${question.getId()}"/>
                <div th:with="answerList=${question.getAnswers()}">
                    <div id="container" th:each="answer : ${answerList}">
                        <input type="radio" th:id="'answer_'+${question.getId()}+'_'+${answer.getId()}"
                               th:name="'question_'+${question.getId()}" th:value="${answer.getId()}"/>
                        <span th:id="'answer_content_' + ${answer.getId()}" th:text="${answer.getContent()}"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input th:if="${move} &gt; 1" id="previousBtn" type="submit" value="previous"
                       th:formaction="@{'/page/'+${move - 1}}"/>
            </td>

            <td>
                <input th:if="${move} &lt; ${totalPages + 1}" id="nextBtn" type="submit" value="next"/>
            </td>
        </tr>
    </table>
    <table id="overview">
        <tr th:each="row : ${#numbers.sequence(1, totalPages / 5)}">
            <td th:with="quesId=${#ids.seq('')}" style="border: 1px solid black;"
                th:each="column : ${#numbers.sequence(1, totalPages / 4)}">
                <div>
                    <input th:if="${#lists.contains(radioCheckedList, quesId)}" size="30" maxlength="30"
                           th:id="'viewQuest_'+${quesId}"
                           type="submit" th:value="'Question '+${quesId}" th:formaction="@{'/page/'+${quesId}}"
                           style="background-color: #008000;"/>
                </div>
                <div>
                    <input th:if="!${#lists.contains(radioCheckedList, quesId)}" size="30" maxlength="30"
                           th:id="'viewQuest_'+${quesId}"
                           type="submit" th:value="'Question '+${quesId}" th:formaction="@{'/page/'+${quesId}}"/>
                </div>
            </td>
        </tr>
    </table>
    <div>
        Total Question <span th:text="${totalQuestions}"></span> - Total Pages <span
            th:text="${totalPages}"></span>
        <span th:text="${currentPage}"></span>
    </div>
</form>
<div id="form2">
    <form th:action="@{'/page/22'}" method="post">
        <input id="gradeBtnHidden" type="submit" value="Chấm Điểm"/>
    </form>
</div>

</body>
<script th:inline="javascript">
    $(function () {
        let url = window.location.href;
        let numPageStr = url.match(/\d+$/);
        let numPage = parseInt(numPageStr);
        if (numPage === 21) {
            document.getElementById("form2").style.visibility = "visible";
        } else {
            document.getElementById("form2").style.visibility = "hidden";
        }
        $('input:radio').each(function () {
            var $el = $(this);
            $el.prop('checked', sessionStorage[$el.prop('id')] === 'true');
        });
        $('input:radio').on('change', function () {
            var $el = $(this);
            sessionStorage[$el.prop('id')] = $el.is(':checked');
            let result = (this.id).match(/_(\d+)_/);
            $('#viewQuest_' + result[1]).css('background-color', 'yellow');
        });
    })
</script>
</html>