<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Search Lesson</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Elearn project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
    <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/lesson.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/lesson_responsive.css">
    <script src="../static/js/menuTypeLesson.js"></script>
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header">

        <!-- Top Bar -->
        <div class="top_bar">
            <div class="top_bar_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                <ul class="top_bar_contact_list">
                                    <li>
                                        <div class="question">Have any questions?</div>
                                    </li>
                                    <li>
                                        <div>(+84) 904 366 030</div>
                                    </li>
                                    <li>
                                        <div>doubleteamc0220h1@gmail.com</div>
                                    </li>
                                </ul>
                                <div class="top_bar_login ml-auto">
                                    <div th:if="${participant}">
                                        <div sec:authorize="isAuthenticated()">
                                            <span><a th:href="@{/view/__${participant.id}__}"
                                                     th:text="${participant.username}"></a></span>|<a
                                                th:href="@{/logout}">Logout</a>
                                        </div>
                                    </div>
                                    <div th:if="${participant==null}">
                                        <div sec:authorize="isAnonymous()">
                                            <ul>
                                                <li><a href="/register">Register</a></li>
                                                <li><a href="/login">Login</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Content -->
        <div class="header_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <a th:href="@{/}">
                                    <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                                        <div class="logo_img"><img width="150" height="auto"
                                                                   src="/assets/images/logoDBT2.png" alt=""></div>
                                    </div>
                                </a>
                            </div>
                            <nav class="main_nav_contaner ml-auto">
                                <ul class="main_nav">
                                    <li><a th:href="@{/}">home</a></li>
                                    <li><a th:href="@{/about}">about us</a></li>
                                    <li><a th:href="@{/lesson/showAllLesson}">lesson</a></li>
                                    <li><a th:href="@{/document/showAllDocument}">document</a></li>
                                    <li><a th:href="@{/contact}">contact</a></li>
                                    <li><a th:href="@{/quiz}">quiz</a></li>
                                    <li style="margin-left: 60px"><img width="25" src="/assets/images/EN.jpg" alt=""> |
                                        <img width="25" src="/assets/images/VN.jpg" alt=""></li>
                                </ul>
                                <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>

                                <!-- Hamburger -->

                                <div class="hamburger menu_mm">
                                    <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Search Panel -->
        <div class="header_search_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                            <form action="#" class="header_search_form">
                                <input type="search" class="search_input" placeholder="Search" required="required">
                                <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Menu -->

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="search">
            <form action="#" class="header_search_form menu_mm">
                <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
                <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                    <i class="fa fa-search menu_mm" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li class="menu_mm"><a th:href="@{/}">Home</a></li>
                <li class="menu_mm"><a th:href="@{/about}">about</a></li>
                <li class="menu_mm"><a th:href="@{/lesson/showAllLesson}">lesson</a></li>
                <li class="menu_mm"><a th:href="@{/document/showAllDocument}">document</a></li>
                <li class="menu_mm"><a th:href="@{/contact}">Contact</a></li>
                <li class="menu_mm"><a th:href="@{/quiz}">quiz</a></li>
            </ul>
        </nav>
        <div class="menu_extra">
            <div class="menu_phone"><span class="menu_title">phone:</span>(+84) 904 366 030</div>
            <div class="menu_social">
                <span class="menu_title">follow vn</span>
                <ul>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Home -->

    <div class="home">
        <!-- Background image artist https://unsplash.com/@thepootphotographer -->
        <div class="home_background parallax_background parallax-window" data-parallax="scroll"
             data-image-src="/assets/images/courses.jpg" data-speed="0.8"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_title">Search</div>
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>
                                    <li>About us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Courses -->

    <div class="courses">
        <div class="container">
            <!-- Course -->
            <div class="row courses_row">
                <th:block th:each="lessons : ${listLessons}">
                    <div class="col-lg-4 col-md-6">
                        <div class="course">
                            <div class="course_image"><a th:href="@{/lesson/showlesson/__${lessons.id}__}"><img
                                    th:src="${lessons.imgLesson}" alt=""></a></div>
                            <div class="course_body">
                                <div class="course_title"><h3><a th:href="@{/lesson/showlesson/__${lessons.id}__}"
                                                                 th:text="${lessons.nameLesson}"></a></h3></div>
                                <div class="course_text">
                                    <p th:text="${lessons.titleLess}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:each="listDocuments : ${listDocuments}">
                    <div class="col-lg-4 col-md-6">
                        <div class="course">
                            <div class="course_image"><a th:href="@{/document/showDocument/__${listDocuments.id}__}"><img th:src="${listDocuments.imgDocument}" alt=""></a></div>
                            <div class="course_body">
                                <div class="course_title"><h3><a th:href="@{/document/showDocument/__${listDocuments.id}__}" th:text="${listDocuments.nameDocument}"></a></h3></div>
                                <div class="course_text">
                                    <p th:text="${listDocuments.titleDocument}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>


        </div>
    </div>

    <!-- Footer -->

    <footer th:replace="/layout/fragment-footer::fragment-footer" class="footer"></footer>
</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/styles/bootstrap4/popper.js"></script>
<script src="/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/assets/plugins/easing/easing.js"></script>
<script src="/assets/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/assets/js/courses.js"></script>
</body>
</html>