<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Search Lesson</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Elearn project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
    <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/lesson.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/lesson_responsive.css">
    <script src="../static/js/menuTypeLesson.js"></script>
</head>
<body>

<div class="super_container">

    <!-- Header -->
    <header th:replace="/layout/fragment-navibar::header-navibar" class="header"></header>
    <!-- Menu -->
    <div th:replace="/layout/fragment-menu-responsive::menu-responsive" class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400"></div>

    <!-- Home -->

    <div class="home">
        <!-- Background image artist https://unsplash.com/@thepootphotographer -->
        <div class="home_background parallax_background parallax-window" data-parallax="scroll"
             data-image-src="/assets/images/courses.jpg" data-speed="0.8"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_title">Search</div>
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>
                                    <li>About us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Courses -->

    <div class="courses">
        <div class="container">
            <!-- Course -->
            <div class="row courses_row">
                <th:block th:each="lessons : ${listLessons}">
                    <div class="col-lg-4 col-md-6">
                        <div class="course">
                            <div class="course_image"><a th:href="@{/lesson/showlesson/__${lessons.id}__}"><img
                                    th:src="${lessons.imgLesson}" alt=""></a></div>
                            <div class="course_body">
                                <div class="course_title"><h3><a th:href="@{/lesson/showlesson/__${lessons.id}__}"
                                                                 th:text="${lessons.nameLesson}"></a></h3></div>
                                <div class="course_text">
                                    <p th:text="${lessons.titleLess}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:each="listDocuments : ${listDocuments}">
                    <div class="col-lg-4 col-md-6">
                        <div class="course">
                            <div class="course_image"><a th:href="@{/document/showDocument/__${listDocuments.id}__}"><img th:src="${listDocuments.imgDocument}" alt=""></a></div>
                            <div class="course_body">
                                <div class="course_title"><h3><a th:href="@{/document/showDocument/__${listDocuments.id}__}" th:text="${listDocuments.nameDocument}"></a></h3></div>
                                <div class="course_text">
                                    <p th:text="${listDocuments.titleDocument}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>


        </div>
    </div>

    <!-- Footer -->

    <footer th:replace="/layout/fragment-footer::fragment-footer" class="footer"></footer>
</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/styles/bootstrap4/popper.js"></script>
<script src="/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/assets/plugins/easing/easing.js"></script>
<script src="/assets/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/assets/js/courses.js"></script>
</body>
</html>